<div class="wish-list-div">

    <app-add-wish-form
    (addWish)="items.push($event)"
    >
    </app-add-wish-form>

    <div class="d-flex justify-content-center align-items-center">
      <button 
      class="btn btn-primary"
      (click)="getWishesFromLocalFile()"
      >Retrieve Wishes From Local File</button>
    </div>    

    <!-- <div class="row mt-3 filter-wish-items"> -->
      <app-wish-filter
      [(filter)] = "filter"
      
      ></app-wish-filter>
    <!-- </div> -->
    
    <div class="col-sm-4">
      <app-wish-list
        [items]="items.filter(filter)"
      ></app-wish-list>
  </div>

</div>